Incorrect BCP-47 code for Japanese

The mapped language code for `jpn` is `jp` (the [ISO 3166-1](https://en.wikipedia.org/wiki/List_of_ISO_3166_country_codes) Alpha-2 country code) instead of `ja` (the [ISO 639-1](https://en.wikipedia.org/wiki/ISO_639-1) language code).

https://github.com/bond-lab/omw-data/blob/502a753cd941713b36e4378c6d4305536187acce/make-lmf.bash#L56

And while it's not technically wrong, mapping `cmn` to `zh` is maybe less than perfect because `zh` encompasses all Chinese languages, even if it's used commonly for Mandarin.

```python
>>> mapping = [
...     ("als", "als"),
...     ("arb", "arb"),
...     ("bul", "bg"),
...     ("cmn", "zh"),
...     ("dan", "da"),
...     ("ell", "el"),
...     ("eng", "en"),
...     ("fas", "fa"),
...     ("fin", "fi"),
...     ("fra", "fr"),
...     ("heb", "he"),
...     ("hrv", "hr"),
...     ("isl", "is"),
...     ("ita", "it"),
...     ("jpn", "jp"),
...     ("cat", "ca"),
...     ("eus", "eu"),
...     ("glg", "gl"),
...     ("spa", "es"),
...     ("ind", "id"),
...     ("zsm", "zsm"),
...     ("nld", "nl"),
...     ("nno", "nn"),
...     ("nob", "nb"),
...     ("pol", "pl"),
...     ("por", "pt"),
...     ("ron", "ro"),
...     ("lit", "lt"),
...     ("slk", "sk"),
...     ("slv", "sl"),
...     ("swe", "sv"),
...     ("tha", "th"),
... ]
>>> import langcodes
>>> for a, b in mapping:
...     standard = langcodes.standardize_tag(a)
...     if standard != b:
...         print(f'{a}: {standard} != {b}')
... 
cmn: cmn != zh
jpn: ja != jp
```

Hi,

Thanks for pointing this out.   I will definitely change "jp" to "ja", this
was just a silly error.

I am not sure what to do for Mandarin, in that strictly speaking we are
working with 'cmn-Hans' (or 'zh-cmn-Hans' which is I think equivalent).
Should I bite the bullet and add the script?  We also have a wordnet from
Taiwan (cwn), which is in 'cmn-Hant' so I think the answer is yes.

If you agree, I will fix it.






On Thu, Nov 26, 2020 at 3:21 PM Michael Wayne Goodman <
notifications@github.com> wrote:

> The mapped language code for jpn is jp (the ISO 3166-1
> <https://en.wikipedia.org/wiki/List_of_ISO_3166_country_codes> Alpha-2
> country code) instead of ja (the ISO 639-1
> <https://en.wikipedia.org/wiki/ISO_639-1> language code).
>
>
> https://github.com/bond-lab/omw-data/blob/502a753cd941713b36e4378c6d4305536187acce/make-lmf.bash#L56
>
> And while it's not technically wrong, mapping cmn to zh is maybe less
> than perfect because zh encompasses all Chinese languages, even if it's
> used commonly for Mandarin.
>
> >>> mapping = [
> ...     ("als", "als"),
> ...     ("arb", "arb"),
> ...     ("bul", "bg"),
> ...     ("cmn", "zh"),
> ...     ("dan", "da"),
> ...     ("ell", "el"),
> ...     ("eng", "en"),
> ...     ("fas", "fa"),
> ...     ("fin", "fi"),
> ...     ("fra", "fr"),
> ...     ("heb", "he"),
> ...     ("hrv", "hr"),
> ...     ("isl", "is"),
> ...     ("ita", "it"),
> ...     ("jpn", "jp"),
> ...     ("cat", "ca"),
> ...     ("eus", "eu"),
> ...     ("glg", "gl"),
> ...     ("spa", "es"),
> ...     ("ind", "id"),
> ...     ("zsm", "zsm"),
> ...     ("nld", "nl"),
> ...     ("nno", "nn"),
> ...     ("nob", "nb"),
> ...     ("pol", "pl"),
> ...     ("por", "pt"),
> ...     ("ron", "ro"),
> ...     ("lit", "lt"),
> ...     ("slk", "sk"),
> ...     ("slv", "sl"),
> ...     ("swe", "sv"),
> ...     ("tha", "th"),
> ... ]>>> import langcodes>>> for a, b in mapping:
> ...     standard = langcodes.standardize_tag(a)
> ...     if standard != b:
> ...         print(f'{a}: {standard} != {b}')
> ... cmn: cmn != zhjpn: ja != jp
>
> —
> You are receiving this because you are subscribed to this thread.
> Reply to this email directly, view it on GitHub
> <https://github.com/bond-lab/omw-data/issues/2>, or unsubscribe
> <https://github.com/notifications/unsubscribe-auth/AAIPZRTSRHPG6NTI4ZHN6FDSRX5QXANCNFSM4UDKWGOA>
> .
>


-- 
Francis Bond <http://www3.ntu.edu.sg/home/fcbond/>
Division of Linguistics and Multilingual Studies
Nanyang Technological University


I think for the resource, we should be as accurate as we need to be for the language code, but not to overdo it. The tools (e.g., Wn) can then decide to normalize language tags so searching for `zh` finds `cmn` or `cmn-Hans`.

And yes, I think `zh-cmn-Hans` might be unnecessary, but either way is fine. From [section 2.2.2 of RFC 5646](https://tools.ietf.org/html/rfc5646#section-2.2.2) (in particular the last sentence):

> ```
>    For example, the macrolanguage Chinese ('zh') encompasses a number of
>    languages.  For compatibility reasons, each of these languages has
>    both a primary and extended language subtag in the registry.  A few
>    selected examples of these include Gan Chinese ('gan'), Cantonese
>    Chinese ('yue'), and Mandarin Chinese ('cmn').  Each is encompassed
>    by the macrolanguage 'zh' (Chinese).  Therefore, they each have the
>    prefix "zh" in their registry records.  Thus, Gan Chinese is
>    represented with tags beginning "zh-gan" or "gan", Cantonese with
>    tags beginning either "yue" or "zh-yue", and Mandarin Chinese with
>    "zh-cmn" or "cmn".  The language subtag 'zh' can still be used
>    without an extended language subtag to label a resource as some
>    unspecified variety of Chinese, while the primary language subtag
>    ('gan', 'yue', 'cmn') is preferred to using the extended language
>    form ("zh-gan", "zh-yue", "zh-cmn").
> ```

So I would favor `cmn-Hans` for COW and `cmn-Hant` for CWN.